video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  background: url('../../public//images/apple-store.jpeg') center center/cover no-repeat;
  /*height: 150vh;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
color: #0fbcf9;
font-size: 100px;
margin-top: 100px;
}

.hero-container > p {
margin-top: 8px;
color: #fff;
font-size: 32px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
margin-top: 16px;
display: flex;
justify-content: center;
}

.hero-btns .btn {
margin: 6px;
  border-radius: 20px;
  font-size: 20px;
  padding: 4px 50px;
  background-color: white;
}
.hero-btns .btn:hover {
  background-color:#0fbcf9;
}

.fa-play-circle {
margin-left: 4px;
}
@media screen and (max-width: 960px) {
.hero-container > h1 {
  font-size: 70px;
  margin-top: -150px;
}
}

@media screen and (max-width: 768px) {
.hero-container > h1 {
  font-size: 50px;
  margin-top: -100px;
}

.hero-container > p {
  font-size: 30px;
}

.btn-mobile {
  display: block;
  text-decoration: none;
}

.btn {
  width: 100%;
}
}
.text-field {
position: relative;
}

.text-field label {
display: inline-block;
font-weight: 100;
cursor: pointer;
position: absolute;
top: 0;
left: 10px;
background-color: #4bcffa;
padding: 1px 5px;
font-size: 17px;
transform: translateY(-50%);
color: rgb(18, 17, 17);
}

.text-field input {
padding: 20px 150px 20px 20px;
display: block;
width: 100%;
font-size: 20px;
border: 1px solid #4bcffa;
border-radius: 22px;
background-color: transparent;
outline: none;
margin-top: 22px;
color: white;
}
.typed-animation {
display: inline-block;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: 1; /* Firefox */
  font-size: 22px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  opacity: 1; /* Firefox */
  font-size: 22px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-size: 22px;
}
.typed-out {
overflow: hidden;
color: white;
white-space: nowrap;
border-right: 0.25rem solid #fff;
font-size: 3rem;
font-weight: 700;
animation: typing 8s steps(40) infinite, blinking 1s infinite;
}

@keyframes typing {
0%, 100% {
  width: 0;
}

50%, 90% {
  width: 100%;
}
}

@keyframes blinking {
0%, 100% {
  border-color: transparent;
}

50% {
  border-color: #fff;
}
}

.view_detail {
  background-color: #629e64; /* Green */
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
}
